
<section class="last-news-section border-radius margin-top-60">
    <header><i class="fa fa-warning"></i>  <h3>پیدا نشد</h3> </header>
    <ul>
        <li>
            <h1 style="font-size:25px">صفحه ای که به دنبال آن هستید پیدا نشد</h1>
            <br>
            <a href="/" class="btn btn-info btn-sm">برگشت به صفحه اصلی</a>
        </li>
        

    </ul>
</section>
