@model News.DomainClasses.Page.Page

@{
    ViewData["Title"] = "ساخت خبر جدید";
}

<h2>ساخت خبر جدید</h2>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control" asp-items='ViewBag.Groups'></select>
            </div>
            <div class="form-group">
                <label asp-for="PageTitle" class="control-label"></label>
                <input asp-for="PageTitle" class="form-control" />
                <span asp-validation-for="PageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <textarea asp-for="ShortDescription" class="form-control"></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageContent" class="control-label"></label>
                <textarea asp-for="PageContent" class="form-control" ></textarea>
                <span asp-validation-for="PageContent" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input type="file" name="imgup" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label for="a">
                        @Html.DisplayNameFor(model => model.ShowSlider)
                    </label>
                    <input asp-for="ShowSlider" id="a" />

                </div>
            </div>
            <div class="form-group">
                <label asp-for="PageTag" class="control-label"></label>
                <input asp-for="PageTag" class="form-control" />
                <span asp-validation-for="PageTag" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ساخت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">برگشت به لیست خبرها</a>
</div>

