<div>
    <a href="/Admin/Pages/Index"><button class="btn btn-primary">مدیریا خبرها</button></a>
    <a href="/Admin/PageGroups/Index"><button class="btn btn-warning">مدیریت گروه های خبری</button></a>
</div>