@model IEnumerable<News.ViewModel.Page.ShowGroupsVM> 
@using Microsoft.AspNetCore.Identity


@if (User.Identity.IsAuthenticated)
{
    <section class="category-section border-radius">
        <header><i class="fa fa-user"></i> <h3> خوش آمدی @User.Identity.Name </h3></header>
        <ul>
            <li><a href="/Pages/Index">مدیریت خبرها </a></li>
            <li><a href="/PageGroups/Index">مدیریت گروه های خبری </a></li>
            <li><a href="/Account/Logout" class="text-danger">خروج </a></li>
        </ul>
    </section>
}
else
{
    <section class="category-section border-radius">
        <header><i class="fa fa-user"></i> <h3> وارد سایت شوید </h3></header>
        <ul>
            <li><a href="/Account/Login">ورود </a></li>
            <li><a href="/Account/Register">ثبت نام</a></li>
        </ul>
    </section>
}

<section class="category-section border-radius">
    <header><i class="fa fa-folder-open-o"></i> <h3> دسته بندی ها </h3></header>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/Group/@item.GroupId/@item.GroupTitle"> @item.GroupTitle <span>@item.PageCount</span></a></li>
        }

    </ul>
</section>
