@model News.DomainClasses.PageGroups.PageGroup

@{
    ViewData["Title"] = "آیا مطمئن هستید از حذف ؟";
}

<h2>حذف گروه خبری</h2>
<br />
<h3>آیا از حذف این گروه مطمئن هستید ؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>
    </dl>
    
    <form action="Delete?id=@Model.GroupId" method="post">
        <input type="hidden" asp-for="GroupId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        
    </form>
</div>

<div>
    <a href="Index">برگشت به لیست گروه های خبری</a>
</div>