@model News.DomainClasses.PageGroups.PageGroup

@{
    ViewData["Title"] = "اطلاعات گروه خبری";
}


<div>
    <h4>گروه خبری</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>
    </dl>
</div>
<div>
    <a href="Edit?id=@Model.GroupId" >ویرایش</a> 
    
</div>
<div>
    <a href="Index">برگشت به لیست گروه های خبری</a>
</div>