@model IEnumerable<News.DomainClasses.PageGroups.PageGroup>

@{
    ViewData["Title"] = "گروه های خبری";
}

<h2>گروه های خبری</h2>
<br />
<p>
    <a href="create" class="btn btn-success">ساخت یک گروه خبری</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                <a href="Edit?id=@item.GroupId" >ویرایش</a> |
                <a href="Details?id=@item.GroupId">جزئیات</a> |
                <a href="Delete?id=@item.GroupId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
