/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face{
    font-family:'t';
    src:url("~/fonts/yekanweb.woff") format('woff');
}

*{
    font-family:'t';
}