@font-face{
  font-family:'yekan';
  src:url("../fonts/yekanweb.eot");
  src:url("../fonts/yekanweb.eot?#iefix") format("embedded-opentype"),url("../fonts/yekanweb.woff") format("woff"),url("../fonts/yekanweb.ttf") format("truetype"),url("../fonts/yekanweb.svg#web_Yekan") format("svg");
  font-style:normal;
  font-weight:normal;
  text-rendering:optimizeLegibility;
}
@font-face{
  font-family:'numbers';
  src:url("../fonts/yekannumbers.eot");
  src:url("../fonts/yekannumbers.eot?#iefix") format("embedded-opentype"),url("../fonts/yekannumbers.woff") format("woff"),url("../fonts/yekannumbers.ttf") format("truetype"),url("../fonts/yekannumbers.svg#web_Yekan") format("svg");
  font-style:normal;
  font-weight:normal;
  text-rendering:optimizeLegibility;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'yekan','numbers';
  font-size: 14px;
  color: #505050;
  background-color: #fff;
  overflow-x: hidden;
}

/***********Default setting************/
a,i,form button{ outline: none;  text-decoration: none; -webkit-transition : all 0.2s linear 0s; -moz-transition : all 0.2s linear 0s; -ms-transition : all 0.2s linear 0s; -o-transition : all 0.2s linear 0s; transition : all 0.2s linear 0s}
a:hover,a:active{text-decoration: none; color: #FF393A;outline: none;}
a:visited,a:link{text-decoration: none;outline: none;}
a{color: #7A7979}
i,span,label,a{display: inline-block}
ul{list-style: none !important; list-style-type: none !important; margin: 0; padding: 0}
h1,h2,h3,h4,h5,h6{  font-size: 14px;  margin: 0;  padding: 0}
.border-radius{ border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
*,a,span,label,i,p,div{font-weight: normal !important}

.top-menu ul:after,.main-menu .container ul:after,.last-news-side ul li:after,.last-news-section ul li:after,
.access-links ul:after,.comment-layer ul li:after{display: block; clear: both; content: ''; visibility: hidden; height: 0; line-height: 0}
.comment-layer,
.comment-layer,.comment-layer header span,.comment-layer ul li,
.comment-layer ul li img,.comment-layer ul li .answer-button,
.comment-form div input,.comment-form input[type="submit"],
.comment-form textarea{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}

.margin-top-20{
  margin-top: 20px
}
.margin-top-30{
  margin-top: 30px
}
.margin-top-60{
  margin-top: 60px
}

.top-menu{
  background-color: #F1F1F1;
  border-bottom: 1px solid #D3D3D3;
  padding: 0
}
.top-menu ul{
  float: right;
}
.top-menu ul li{
  display: inline-table;
  padding: 0 6px;
  border-left: 1px solid #dfdfdf;
  float: right;
}
.top-menu ul li a{
  color: #727272;
  font-size: 18px
}
.top-menu ul li:first-child{
  border-right: 1px solid #dfdfdf
}
.top-menu ul li a:hover{
  color: #FF393A
}
.top-menu ul li a .fa-envelope{
  font-size: 15px
}
.top-menu ul li a .fa-question-circle,.top-menu ul li a .fa-home{
  position: relative;
  top: 1px
}
.top-menu span{
  float: left;
  line-height: 25px
}


.main-header{
  padding: 15px 0
} 
.main-header .logo{
  float: right;
  margin-left:20px
} 
.main-header .left-side{
  float: right;
} 
.main-header .left-side h1{
  font-size: 20px;
  color: #646464;
  padding-bottom: 10px;
  padding-top: 5px
} 
.main-header .left-side h2{
  font-size: 14px;
  color: #898888;
} 
.main-header form{
  float: left;
  background-color: #fff;
  border:1px solid #dfdfdf;
  width: 60%;
  position: relative;
  margin-top: 10px
} 
.main-header form input{
  width: 100%;
  border:0;
  line-height: 25px;
  padding: 8px 15px 8px 60px;
  color: #898888;
} 
.main-header form button{
  position: absolute;
  left: 1px;
  border:0;
  line-height: 41px;
  text-align: center;
  width: 45px;
  font-size: 22px;
  border-right: 1px solid #dfdfdf;
  background-color: #fff;
  color: #C0C0C0
} 
.main-header form button:hover{
  color: #FF393A
} 


.main-menu{
  background-color: #2D2927;
  padding: 5px 0;
  border-bottom: 3px solid #FF393A;
  position: relative;
  min-height: 45px
}
.main-menu .container{
  position: relative;
}
.main-menu .container > span{
  font-size: 24px;
  color: #fff;
  position: absolute;
  right: 17px;
  top: 2px;
  display: none
}
.main-menu .container > span:hover{
  color:#FF393A;
  cursor: pointer;
}
.main-menu .container > ul > li{
  display: inline-block;
  float: right;
  padding: 0 10px;
  position: relative;
}
.main-menu .container > ul > li a,.main-menu .container > ul > li span{
  line-height: 30px;
  color: #fff
}
.main-menu .container > ul > li a:hover,.main-menu .container > ul > li span:hover{
  color: #FF393A;
  cursor: pointer;
}
.main-menu .container > ul > li > ul{
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #2D2927;
    z-index: 100;
    padding: 15px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    min-width: 200px;
    display: none
}
.main-menu .container > ul > li > ul li{
    position: relative;
    padding-right: 15px
}
.main-menu .container > ul > li > ul li:before{
    position: absolute;
    right: 0;
    font-family: 'Fontawesome';
    font-family: 12px;
    color: #FF393A;
    content: '\f104';
    top: 5px
}


.last-news-side{
  border:1px solid #dfdfdf;
  padding: 15px;
  margin-bottom: 25px
}
.last-news-side header{
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 15px;
  margin-bottom: 10px;
  color: #2D2927;
  position: relative;
}
.last-news-side header i{
  position: absolute;
  right: 0;
  top: 0
}
.last-news-side header h3{
  font-size: 18px;
  color: #2D2927;
  padding-right: 40px
}
.last-news-side ul li{
  padding: 15px;
  border-bottom: 1px dashed #dfdfdf
}
.last-news-side ul li:last-child{
  border-bottom: 0
}
.last-news-side ul li img{
  width: 25%;
  float: right;
  margin-left: 3%
}
.last-news-side ul li h2{
  font-size: 15px;
  color: #2D2927;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 10px
}
.last-news-side ul li span{
  font-size: 15px;
  color: #767676;
}



.news-slider{
  border:1px solid #dfdfdf;
  direction: ltr;
}
.news-archive{
  position: absolute;
  left: -45px;
  right: 16px;
  width: 170px;
  line-height: 25px;
  padding: 0 10px 5px;
  background-color: #3996FF;
  border-bottom: 3px solid #468CDC;
  color: #fff;
  font-size: 15px;
  direction: rtl;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.news-archive i{
  position: relative;
  top: 4px;
  margin:0 5px 0 8px
}
.news-archive:hover{
  background-color: #FF393A;
  color: #fff;
  border-bottom-color:#CC1010;
}
#slider-one .item img{
  float: right;
  width: 40%;
  padding: 15px;
  border-left: 1px solid #dfdfdf
}
#slider-one .item .left-side{
  float: right;
  width: 60%;
  padding: 15px;
  direction: rtl;
}
#slider-one .item .left-side h2{
  font-size: 16px;
  line-height: 24px;
  padding: 5px 0 15px
}
#slider-one .item .left-side h2 a{
  color: #2D2927
}
#slider-one .item .left-side p{
  text-align: justify;
  line-height: 24px;
  color: #868686;
  font-size: 14px;
  padding-bottom: 10px
}
#slider-one .item .left-side span{
  line-height: 24px;
  color: #868686;
  font-size: 14px
}
#slider-one .item .left-side span i{
  margin-left: 5px
}
#slider-one .owl-nav{ position: absolute; bottom: -40px;  left: 0}
#slider-one .owl-nav .owl-prev,
#slider-one .owl-nav .owl-next{
    border-bottom: 3px solid #FF393A;
    width: 40px;
    height: 40px;
    color: #fff;
    position: relative;
    float: left;
    margin-right: 2px;
    background-color: #2D2927;
    display: block !important;
}
#slider-one .owl-nav .owl-prev:hover i,
#slider-one .owl-nav .owl-next:hover i{
    color: #FF393A
}
#slider-one .owl-nav .owl-prev i,
#slider-one .owl-nav .owl-next i{
    font-size: 38px; 
    position: absolute;
}
#slider-one .owl-nav .owl-prev i{
    right: 13px;
    top: 0;
}
#slider-one .owl-nav .owl-next i{
    right: 11px;
    top: 0;
}
#slider-one .owl-nav .owl-next {
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}
#slider-one .owl-nav .owl-prev {
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}

#slider-one .owl-dots{
    display: none !important;
}






.last-news-section{
  border:1px solid #dfdfdf;
  margin-bottom: 20px
}
.last-news-section header{
  border-bottom: 1px solid #dfdfdf;
  padding: 15px;
  color: #2D2927;
  position: relative;
}
.last-news-section header i{
  position: absolute;
  right: 15px;
  top: 13px
}
.last-news-section header h3{
  font-size: 18px;
  color: #2D2927;
  padding-right: 40px
}
.last-news-section ul li{
  padding: 15px;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}
.last-news-section ul li:last-child{
  border-bottom: 0
}
.last-news-section ul li img{
  width: 20%;
  float: right;
  margin-left: 3%;
}
.last-news-section ul li h2{
  font-size: 16px;
  color: #2D2927;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 10px
}
.last-news-section ul li p{
    color: #868585;
    font-size: 14px;
    line-height: 23px;
    padding-left: 5px;
    text-align: justify;
    padding-bottom: 15px;
}
.last-news-section ul li .date-publish{
  font-size: 14px;
  color: #a5a5a5;
  position: absolute;
  top: 20px;
  left:20px;
}

.last-news-section ul li .more-link{
  position: absolute;
  left: 20px;
  bottom: 15px
}

.category-section{
    border:1px solid #dfdfdf;
    margin-bottom: 20px
}

.category-section header{
  border-bottom: 1px solid #dfdfdf;
  padding: 15px;
  color: #2D2927;
  position: relative;
}
.category-section header i{
  position: absolute;
  right: 14px;
  top: 15px;
  font-size: 22px;
  color: #FF5151
}
.category-section header h3{
  font-size: 18px;
  color: #2D2927;
  padding-right: 40px
}
.category-section li{position: relative; padding-right: 12px; line-height: 26px; padding: 6px 32px; border-bottom: 1px dashed #dfdfdf}
.category-section li:last-child{border-bottom: 0}
.category-section li:before{position: absolute; font-family: 'Fontawesome'; content: '\f104'; font-size: 15px; color: #69686D; right: 19px; top: 6px}
.category-section li a{color: #575757}
.category-section li a:hover{color: #DD0C0C; padding-right: 10px}
.category-section li span{ background-color: #ff393a;
    color: #fff;
    line-height: 22px;
    margin-right: 8px;
    padding: 0 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


footer{
    width: 100%;
    position: relative;
    padding: 15px 0;
    margin-top: 10px;
    background-color: #2D2927;
    border-top: 3px solid #FF393A
}
.access-links ul li{
    width: 32%;
    padding: 4px 15px;
    float: right;
    position: relative;
    line-height: 24px;
}

.access-links ul li:before{
    content: '\f111';
    position: absolute;
    right: 0;
    font-size: 7px;
    top: 6px;
    color: #FF393A;
    font-family: 'Fontawesome'
}
.access-links ul li a{
    color: #fff
}
.access-links ul li a:hover{
    color:#FF393A;
    padding-right: 5px
}

.access-links header{
    padding: 10px 0 15px;
    border-bottom: 1px solid #4C4B4B;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px
}


.socials {
    padding-top: 35px
}
.socials span{
    float: right;
    font-size: 16px;
    color: #fff;
    line-height: 35px
}
.socials a{
    float: left;
    margin-right: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #2D2927;
    background-color: #fff;
    line-height: 35px;
    min-width: 35px;
    text-align: center;
    font-size: 20px
}
.socials a:hover{
    color: #FF393A
}

.col-md-5.col-md-offset-1.col-sm-12.col-xs-12 p{
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    margin-top: 25px;
    text-align: justify;
}

.icons{
  background: url('../img/sprite.png') no-repeat;
  position: relative;
}
.icon-star{
  background-position: 0 0;
  width: 24px;
  height: 24px;
}
.icon-doc-1{
  background-position: -2px -27px;
  width: 22px;
  height: 24px;
}
.icon-doc-2{
  background-position: -1px -55px;
  width: 22px;
  height: 24px;
}
.icon-more{
  background-position: -1px -85px;
  width: 32px;
  height: 16px;
}


.single-news{
    border:1px solid #dfdfdf;
}
.single-news header{
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 15px;
  margin-bottom: 10px;
  color: #2D2927;
  position: relative;
}
.single-news header h2{
  font-size: 18px;
  color: #6B6A6A;
}

.single-news header span{
    color: #9a9999;
    left: 16px;
    position: absolute;
    top: 11px;
}
.single-news header span i{
    margin-left: 3px
}
.single-news article{
    padding: 10px 20px
}
.single-news article p{
    line-height: 23px;
    text-align: justify;
    color: #6B6A6A
}

.keywords{
    border:1px solid #dfdfdf;
    margin-top: 20px;
    padding: 10px
}
.keywords a{
    padding: 2px 5px;
    background-color: #f2f2f2;
    line-height: 18px;
    font-size: 14px;
    color: #767676;
    margin: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.keywords a:hover{
    background-color: #dfdfdf
}

.breadcrumb{
    background-color: #fff;
    border:1px solid #dfdfdf;
}


.comment-layer{width: 100%; border:1px solid #ccc; margin: 15px 0}
.comment-layer header{position: relative; height: 45px; border-bottom: 1px solid #ccc; padding: 0 60px 15px 15px}
.comment-layer header i{font-size: 32px; color: #505050; position: absolute; right: 15px; top: 5px}
.comment-layer header h5{font-size: 18px; color: #505050; line-height: 45px}
.comment-layer header span{font-size: 15px; color: #fff; background-color: #FF393A; position: absolute; line-height: 30px; padding: 0 15px; left: 7px; top: 7px}
.comment-layer ul{padding: 15px}
.comment-layer ul li{padding: 10px; border:1px solid #ccc; margin-bottom: 15px; position: relative; color: #848484}
.comment-layer ul li a{color: #848484}
.comment-layer ul li:last-child{ margin-bottom: 0}
.comment-layer ul li img{ width: 60px; height: 60px; margin-left: 10px; float: right}
.comment-layer ul li div span{ display: block; line-height: 29px  }
.comment-layer ul li p{ clear: both; line-height: 22px; font-size: 13px; text-align: justify; padding:  10px 0}
.comment-layer h6{font-size: 18px; color: #505050; margin-top: 30px; line-height: 40px; border-bottom: 1px solid #ccc; padding: 0 20px 10px}
.comment-form {padding: 15px}
.comment-form div{width: 48%; float: right}
.comment-form div input{width: 100%; color: #505050; margin-bottom: 10px; border:1px solid #ccc; line-height: 35px; padding: 0 15px}
.comment-form div label{width: 100%}
.comment-form div label input{width: 65%; float: right}
.comment-form div label img { float: left}
.comment-form textarea{width: 50%;  color: #505050; margin-bottom: 15px; height: 150px; float: left; border:1px solid #ccc; padding: 5px; line-height: 22px}
.comment-form input[type="submit"]{width: 100%; border:0; padding: 5px; color: #fff; background-color: #0EB501; line-height: 30px}
.comment-form input[type="submit"]:hover,.comment-form input[type="submit"]:active{background-color: #219A13; cursor: pointer}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{background-color: #FF393A; border-color: #FF393A;}
.pagination > li > a, .pagination > li > span{color:#2D2927}




@media screen and (max-width : 1280px){
    .comment-form div label input{width: 55%}
}

@media screen and (max-width : 1199px){
    .last-news-side ul li img{
        display: none
    }
    .last-news-section ul li img{
        width: 25%
    }
    #slider-one .item img{
        width: 45%
    }
    #slider-one .item .left-side{
        width: 55%
    }
}


@media screen and (max-width : 767px) {
  .main-menu .container > span{
    display: block;
  }
  .main-menu .container > ul{
    position: absolute;
    right: 15px;
    top: 40px;
    width: 250px;
    background-color: #2D2927;
    padding: 15px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: none;
    z-index: 100
  }
  .main-menu .container > ul li{
    display: block;
    float: none
  }
  .main-menu .container > ul > li > ul{
    position: static;
    padding: 0 25px 0 10px
  }
  .main-header form{
    width: 100%;
    margin-top: 15px
  }
  .news-slider{
    display: none
  }
  .last-news-section{
    margin-top: 0
  }
  .last-news-section ul li img{
    display: none
  }
  .last-news-side{
    margin-top: 25px
  }
}
@media screen and (max-width : 480px) {
  .main-header .left-side h1{
    font-size: 16px
  }
  .access-links ul li{
    width: 50%
  }
  .last-news-section ul li .date-publish{
    position: static;
  }
  .single-news header span{
    position: static;
    margin-top: 10px
  }
  .comment-layer ul li .alert-report,.comment-layer ul li .answer-button{display: none}
  .comment-form div,.comment-form textarea{width: 100%;float:none}
}