

body{
	margin: 0 5px 5px;
	background: #F3F3F3 url('~/img/bgg.png')
	;
}

.logo {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 5px;
}

a{color:#001297;text-decoration:none;}
a:hover{color:#000;}

.action {
	font-family: tahoma;
	font-size: 11px;
	text-decoration: underline;
}

#auth {
	width: 310px;
	padding: 120px 0 0;
	margin: auto;
	direction: rtl;
}

#frmAuth {
	background: #F8F8F8;
	padding: 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.38), 0 0 30px rgba(0, 0, 0, 0.07) inset;
	border-radius: 5% 0% 5% 0% / 10% 0% 10% 0%;	
}


.button{
    background: none repeat scroll 0 0 #FDFDFD;
    border: 1px solid #CECACA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 1px #DDDDDD;
    cursor: pointer;
    font-family: pyekan,tahoma;
    font-size: 13px;
    color: #616060;
    margin: 3px 0;
    padding: 2px 15px;
    transition: all 100ms ease 0s;
}
.button:hover {
	color: #0087B3;
}

.input {
	width: 95%;
	outline: none;
	padding: 5px;
	margin: 5px 0;
	font-family: pyekan,tahoma;
	font-size: 16px;
	border: 1px solid #D1CCCC;
	border-radius: 2px;
	box-shadow: 0 0 5px rgb(235, 235, 235) inset;
}
.input:focus {
	border: 1px solid #CE0808;
	border-right: 6px solid #E92701;
	width: 93%;
}
