@model News.ViewModel.Account.Login.LoginViewModel
@{
    Layout = null;
}
<!--| A login page by softafzar | powerd by onescript.ir-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>صفحه لاگین</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="Robots" content="Index, Follow" />
    <link rel="StyleSheet" type="text/css" href="~/css/style1.css" />
</head>
<body>
    <div id="auth">
        <img class="logo" src="~/img/logo1.png" />
        <form id="frmAuth" asp-route-returnUrl=@ViewData["returnUrl"] asp-action="Login" asp-controller="Account" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-black"></div>

            <span class="title">اطلاعات ورود</span>
            <!--نام کاربری:-->
            <input class="input" asp-for="Username" autofocus placeholder="نام کاربری" />
            <span asp-validation-for="Username"></span>
            <!--رمز عبور:<br/>-->
            <input class="input" asp-for="Password" autocomplete="off" placeholder="رمز عبور" />
            <span asp-validation-for="Password"></span>
            <input class="checkbox" asp-for="Remem" />به خاطر سپردن
            <br />
            <input class="button" type="submit" value="ورود" />


        </form>
        <input class="button" type="button" value="عضویت" />
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @if (ViewData["ErrorMessage"] != null)
    {
        <script>
                    swal('@ViewData["ErrorMessage"]','', '@ViewData["mode"]');
        </script>
    }
</body>
</html>
